@use "../../Style/import.scss" as import;
.SectionApply {
	height: 90vh;
	display: flex;
	align-items: center;
	&--container {
		@include import.container();
		display: flex;
		align-items: center;
	}
}
.SectionApply__content {
	width: 50%;
	.SectionApply__title {
		width: 90%;
		margin-bottom: 24px;
		&--style {
			// 32
			@include import.JSBold(calc(20px + (12 + 12 * 0.7) * ((100vw - 375px) / 1990)), #333333);
		}
	}
	.SectionApply__description {
		margin-bottom: 40px;
		&--style {
			// 20
			@include import.JSMedium(calc(13px + (7 + 7 * 0.7) * ((100vw - 375px) / 1990)), #999999);
		}
	}
}
@media (max-width: 992px) {
	.SectionApply {
		padding: 10% 0;
		height: fit-content;
		&--container {
			@include import.container();
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.SectionApply__content {
		width: 100%;
		.SectionApply__title {
			width: 100%;
			&--style {
				text-align: center;
			}
		}
	}
}
