@use "../../Style/import.scss" as import;
.FooterContent {
	height: 70vh;
	max-height: fit-content;
	padding: 60px 0;
	background: #ececec;
	&--container {
		@include import.container();
	}
}
.FooterContent__content {
	display: flex;
	justify-content: space-between;
	&--logo {
		.FooterContent__logo {
			margin-bottom: 15px;
			.FooterContent__logo--text {
				@include import.JSBold(24px, #333333);
			}
		}
		.FooterContent__logo--description {
			margin-top: 15px;
			.FooterContent__description--text {
				@include import.JSMedium(15px, #999999);
			}
		}
	}
}
.FooterContent__content--navs {
	display: flex;
	justify-content: space-between;
	width: 35%;
}
.FooterContent__content--nav {
	.FooterContent__nav--title {
		.FooterContent__title--style {
			@include import.JSBold(18px, #333333);
		}
	}
	.FooterContent__nav--item {
		margin-top: 16px;
		.FooterContent__item--style {
			@include import.JSMedium(16px, #999999);
		}
	}
}
.FooterContent__connection {
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&--list {
		display: flex;
		width: 20%;
		.FooterContent__connection--item {
			margin: 0 4%;
		}
	}
}
@media (max-width: 768px) {
	.FooterContent {
		height: fit-content;
		padding: 10% 0;
	}
	.FooterContent__content {
		flex-direction: column;
	}
	.FooterContent__content--back {
		position: absolute;
		right: 10px;
	}
	.FooterContent__content--navs {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		width: 100%;
	}
	.FooterContent__connection {
		flex-direction: column;
		&--list {
			margin-top: 20px;
			justify-content: space-around;
			width: 100%;
		}
	}
}
