@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");

@mixin container() {
	width: calc(100vw - 30%);
	margin: 0 auto;
}
@mixin JSBold($fz, $color) {
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 700;
	font-size: $fz;
	line-height: 1.5;
	text-transform: uppercase;
	color: $color;
}
@mixin JSMedium($fz, $color) {
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 400;
	font-size: $fz;
	line-height: 1.5;
	text-transform: uppercase;
	color: $color;
}
